<div class="rate">
  <div class='container'>
    <div class='row'>
      <div class="col-12">
        <% if @schedules.any? %>
          <h2 class='my-5'><%= @end_user.full_name %>様が投稿した予定一覧</h2>
          <table class='table'>
            <thead>
              <tr>
                <th>タイトル</th>
                <th>予定日</th>
                <th>場所</th>
              </tr>
            </thead>
            <tbody>
              <% @schedules.each do |schedule| %>
                <tr>
                  <td><%= link_to admin_schedule_path(schedule.id) do %><%= schedule.title %><% end %></td>
                  <td><%= link_to admin_schedule_path(schedule.id) do %><%= schedule.full_day %><% end %></td>
                  <td><%= link_to admin_schedule_path(schedule.id) do %><%= schedule.location %><% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h2 class='my-5'>"<%= @end_user.full_name %>様が投稿した予定はありません"</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>