<div class="fix">
	<div class='container'>
		<div class='row'>
			<div class="col-12">
				<h2 class="section-ttl"><%= @end_user.full_name %>さんのページ</h2>
				<section class="inner">
					<div class='container'>
						<div class='row'>
							<div class="col-5 pt-3 ">
								<td><%= image_tag @end_user.get_profile_image, size: '200x250' %></td>
							</div>
							<div class="col-7 pt-2">
								<p class="pl-3">フリガナ　　　　　<%= @end_user.full_name_kana %></p>
								<p class="pl-3">名前　　　　　　　<%= @end_user.full_name %></p>
								<p class="pl-3">所属部署　　　　　<%= @end_user.department_name %></p>
								<p class="pl-3">勤務地　　　　　　<%= @end_user.work_location %></p>
								<p class="pl-3">電話番号　　　　　<%= @end_user.telephone_number %></p>
								<p class="pl-3">メールアドレス　　<%= @end_user.email %></p>
								<p class="pl-3">勤務状況
								<% if @end_user.is_worked == true %>
									　　　　　出勤中
								<% else %>
										　　　　退勤中
								<% end %>
								</p>
								<p class="pl-3">会員ステータス
									<% if @end_user.is_deleted? %>
										　　<span class="text-active">有効</span>
									<% else %>
										　　<span class="text-invalid">利用停止</span>
									<% end %>
								</p>
        				<p class="pl-3">
					  				<p>　<%= link_to "プロフィールを編集する",edit_admin_end_user_path(@end_user) %></p>
					  				<p>　<%= link_to "投稿した予定を確認する",admin_admin_schedule_path(@end_user) %></p>
        				</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
